*
body{
    background-image: linear-gradient(to right top, #ff0000, #ea1a1a, #d42828, #be3131,
     #a63838, #903538, #793236, #632f33, #4b252a, #331b20, #1d1214, #000000);
     background-repeat: no-repeat;
     height: 570px;
}

a{
    color: black;
}
a:link{
    text-decoration: none;
}
